.container{
    width: 20%;
    margin-top: 40px;
    margin-left: 50px;
}
/* .button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;

} */
.button button{
    width: 50px;
    
}