.container{
    width: 20%;
    margin-top: 40px;
    margin-left: 50px;
    border: 10px solid black;
    border-radius: 10px;
}
.button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    margin-left: 5px;


}
.button button{
    width: 50px;
    margin-bottom: 10px;
    background-color: whitesmoke;
   
    
}
#input{
    margin-bottom: 20px;
    width: 91%;
    padding: 20px 10px;
    background-color: gray;
    border-bottom: 2px solid black;
}